<section>
    <div class="container">
        <form action="/admin/add-pdts" enctype="multipart/form-data" method="POST">
                <label for="">Name</label>
                <input type="text" class="form-control" name="Name" placeholder="Name of the pdts">
                <label for="">Price</label>
                <input type="number" min="0" step="1" class="form-control" name="Price" placeholder="Price Of The Product">
                <label for="">Discription</label>
                <textarea class="form-control" name="Dis"rows="3"></textarea>
                <label >Image</label>
                <input name="Image" type="file"  class="form-control" >
                <button type="submit"  class="btn btn-success">Submit</button>
        </form>
    </div>
</section>