
<section style="background-color: #eee;" ondblclick="toCart()">
    <div class="text-center container py-5">
        <h4 class="mt-4 mb-5"><strong>Bestsellers</strong></h4>

        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card" onmouseenter="textToAudio()"  onclick="tomato()">
                     <input type="hidden" id="text-to-speech" value="Tomato.price 10">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="./images/tomato.jpeg"
                            class="w-100" />
                        <a href="#!">
                            <div class="mask">
                                <div class="d-flex justify-content-start align-items-end h-100">
                                    <h5><span class="badge bg-primary ms-2">New</span></h5>
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">
                        <form action="/addToCart/627b22ec25d6056fec83afd0" enctype="multipart/form-data" method="get">
                        <input type="hidden" class="form-control" name="Blind" id="haa" value="bnn" >
                        <a href="" class="text-reset">
                            <h5 class="card-title mb-3">Tomatos</h5>
                        </a>
                        <a href="" class="text-reset">
                            <p>Category</p>
                        </a>
                        <h6 class="mb-3">10</h6>
                        <button type="submit" onmouseenter="AddToCart()" class="btn btn-success">Add To Cart</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card" onmouseenter="textToAudio1()" onclick="cucumber()">
                    <input type="hidden" id="text-to-speech1" value="Cucumber.Price 15">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="./images/cucumber.jpeg"
                            class="w-100" />
                        <a href="#!">
                            <div class="mask">
                                <div class="d-flex justify-content-start align-items-end h-100">
                                    <h5><span class="badge bg-success ms-2">Eco</span></h5>
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">
                        <a href="" class="text-reset">
                            <h5 class="card-title mb-3">Cucumber</h5>
                        </a>
                        <a href="" class="text-reset">
                            <p>Category</p>
                        </a>
                        <h6 class="mb-3">15</h6>
                        <a href="/addToCart/627b245325d6056fec83afd8" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card" onmouseenter="textToAudio2()" onclick="carrot()">
                    <input type="hidden" id="text-to-speech2" value="Carrot.price 25">
                    <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                        <img src="./images/carrot.jpeg"
                            class="w-100" />
                        <a href="#!">
                            <div class="mask">
                                <div class="d-flex justify-content-start align-items-end h-100">
                                    <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">
                        <a href="" class="text-reset">
                            <h5 class="card-title mb-3">Carrot</h5>
                        </a>
                        <a href="" class="text-reset">
                            <p>Category</p>
                        </a>
                        <h6 class="mb-3">
                            <s>50</s><strong class="ms-2 text-danger">25</strong>
                             
                        </h6>
                        <a href="/addToCart/627b232b25d6056fec83afd2" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card" onmouseenter="textToAudio3()" onclick="ladiesfinger()">
                    <input type="hidden" id="text-to-speech3" value="Ladies Finger.Price 15">
                     <button type="button" onclick="textToAudio3()">Best Buyers</button>
                    <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                        <img src="./images/Ladiesfinger.jpeg"
                            class="w-100" />
                        <a href="#!">
                            <div class="mask">
                                <div class="d-flex justify-content-start align-items-end h-100">
                                    <h5>
                                        <span class="badge bg-success ms-2">Eco</span><span
                                            class="badge bg-danger ms-2">-10%</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">
                        <a href="" class="text-reset">
                            <h5 class="card-title mb-3">Ladies Finger</h5>
                        </a>
                        <a href="" class="text-reset">
                            <p>Category</p>
                        </a>
                        <h6 class="mb-3">
                            <s>45</s><strong class="ms-2 text-danger">15</strong>
                        </h6>
                        <a href="/addToCart/627b234225d6056fec83afd3" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card" onmouseenter="textToAudio4()" onclick="redchilly()">
                    <input type="hidden" id="text-to-speech4" value="Red Chilly.Price 30">
                     <button type="button" onclick="textToAudio4()">Best Buyers</button>
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="./images/Redchilli.jpeg"
                            class="w-100" />
                        <a href="#!">
                            <div class="mask">
                                <div class="d-flex justify-content-start align-items-end h-100"></div>
                            </div>
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">
                        <a href="" class="text-reset">
                            <h5 class="card-title mb-3">Red Chilli</h5>
                        </a>
                        <a href="" class="text-reset">
                            <p>Category</p>
                        </a>
                        <h6 class="mb-3">30</h6>
                        <a href="/addToCart/627b235a25d6056fec83afd4" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card" onmouseenter="textToAudio5()" onclick="brinjal()">
                    <input type="hidden" id="text-to-speech5" value="Brinjal.Price 60 ">
                     <button type="button" onclick="textToAudio5()">Best Buyers</button>
                    <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                        <img src="./images/Brinjal.jpeg"
                            class="w-100" />
                        <a href="#!">
                            <div class="mask">
                                <div class="d-flex justify-content-start align-items-end h-100">
                                    <h5>
                                        <span class="badge bg-primary ms-2">New</span><span
                                            class="badge bg-success ms-2">Eco</span><span
                                            class="badge bg-danger ms-2">-10%</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">
                        <a href="" class="text-reset">
                            <h5 class="card-title mb-3">Brinjal</h5>
                        </a>
                        <a href="" class="text-reset">
                            <p>Category</p>
                        </a>
                        <h6 class="mb-3">
                            <s>90</s><strong class="ms-2 text-danger">60</strong>
                        </h6>
                        <a href="/addToCart/627b237825d6056fec83afd5" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  <section class="">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #0a4275;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Register for free</span>
          <button type="button" class="btn btn-outline-light btn-rounded">
            Sign up!
          </button>
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="#">www.vegetableshack.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>


<script>
    /* JS comes here */
      function AddToCart() {
        let msg = "Add to cart";
        console.log("You entered is ", +msg)
        let speech = new SpeechSynthesisUtterance();
        speech.lang = "en-US";

        speech.text = msg;
        speech.volume = 1;
        speech.rate = 1;
        speech.pitch = 1;
        window.speechSynthesis.speak(speech);


    }
    function textToAudio() {
        let msg = document.getElementById("text-to-speech").value;
        console.log("You entered is ", +msg)
        let speech = new SpeechSynthesisUtterance();
        speech.lang = "en-US";

        speech.text = msg;
        speech.volume = 1;
        speech.rate = 1;
        speech.pitch = 1;
        window.speechSynthesis.speak(speech);


    }

    function textToAudio1() {
        let msg = document.getElementById("text-to-speech1").value;
        console.log("You entered is ", +msg)
        let speech = new SpeechSynthesisUtterance();
        speech.lang = "en-US";

        speech.text = msg;
        speech.volume = 1;
        speech.rate = 1;
        speech.pitch = 1;
        window.speechSynthesis.speak(speech);


    }
     function textToAudio2() {
        let msg = document.getElementById("text-to-speech2").value;
        console.log("You entered is ", +msg)
        let speech = new SpeechSynthesisUtterance();
        speech.lang = "en-US";

        speech.text = msg;
        speech.volume = 1;
        speech.rate = 1;
        speech.pitch = 1;
        window.speechSynthesis.speak(speech);


    }
     function textToAudio3() {
        let msg = document.getElementById("text-to-speech3").value;
        console.log("You entered is ", +msg)
        let speech = new SpeechSynthesisUtterance();
        speech.lang = "en-US";

        speech.text = msg;
        speech.volume = 1;
        speech.rate = 1;
        speech.pitch = 1;
        window.speechSynthesis.speak(speech);


    }
     function textToAudio4() {
        let msg = document.getElementById("text-to-speech4").value;
        console.log("You entered is ", +msg)
        let speech = new SpeechSynthesisUtterance();
        speech.lang = "en-US";

        speech.text = msg;
        speech.volume = 1;
        speech.rate = 1;
        speech.pitch = 1;
        window.speechSynthesis.speak(speech);


    }
     function textToAudio5() {
        let msg = document.getElementById("text-to-speech5").value;
        console.log("You entered is ", +msg)
        let speech = new SpeechSynthesisUtterance();
        speech.lang = "en-US";

        speech.text = msg;
        speech.volume = 1;
        speech.rate = 1;
        speech.pitch = 1;
        window.speechSynthesis.speak(speech);


    }
    function text() {
        let msg = document.getElementById("text").value;
        console.log("You entered is ", +msg)
        let speech = new SpeechSynthesisUtterance();
        speech.lang = "en-US";

        speech.text = msg;
        speech.volume = 1;
        speech.rate = 1;
        speech.pitch = 1;
        window.speechSynthesis.speak(speech);

    }
    function tomato(){
        location.href='/addToCart/627b22ec25d6056fec83afd0';
    }
    function cucumber(){
        location.href='/addToCart/627b245325d6056fec83afd8';

    }
    function carrot(){
        location.href='/addToCart/627b232b25d6056fec83afd2';

    }
    function ladiesfinger(){
        location.href='/addToCart/627b234225d6056fec83afd3';

    }
    function redchilly(){
        location.href='/addToCart/627b235a25d6056fec83afd4';

    }
    function brinjal(){
        location.href='/addToCart/627b237825d6056fec83afd5';

    }
    function toCart(){
        location.href='/cart';
    }
    


</script>